<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <% if user_signed_in? %>
                <%= link_to "My Listings", root_path(user_id: current_user.id), :class => "nav-link" %>
            <% end %>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
            <% if user_signed_in? %>
        <li class="nav-item active">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "nav-link"  %>
        </li>
            <% else %>
        <li class="nav-item active">
            <%= link_to "Log In", new_user_session_path, :class => "nav-link"  %>
            <% end %>
        </li>
            <% if user_signed_in? %>
        <li class="nav-item">
            <a class="nav-link disabled">Currently Logged In As <u><%= current_user.email %></u> <span class="sr-only">(current)</span></a>
        </li>
            <% else %>
        <li class="nav-item">
            <a class="nav-link disabled">Currently Not Logged In <span class="sr-only">(current)</span></a> 
            <% end %>
        </li>
    </ul>
</nav>

<main role="main">

<% if listing.errors.any? %>
    <ul>
        <% listing.errors.full_messages.each do |error| %>
            <li> <%= error %> </li>
        <% end %>
    </ul>
<% end %>

<div class="album py-5 bg-light">
    <div class="container">
        <h1>Create A New Listing</h1><br>
        <%= form_with model: listing, local: true do |form| %>
    <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, value: listing.title, class: "form-control", id: "exampleFormControlInput1", placeholder: "eg. Almost New, 2 Horse Float" %>
    </div>
    <div class="form-group">
        <%= form.label :model %>
        <%= form.text_field :model, value: listing.model, class: "form-control", id: "exampleFormControlInput1", placeholder: "eg. Regency 2 Horse Angle Load Deluxe" %>
    </div>
    <div class="form-group">
        <%= form.label :size %>
        <%= form.collection_select :size_id, Size.all, :id, :size, class: "custom-select my-1 mr-sm-2", id: "inlineFormCustomSelectPref" %>
    </div>
    <div class="form-group">
        <%= form.label :price %>
        <%= form.number_field :price, value: listing.price, min: 0, class: "form-control", id: "exampleFormControlInput1", placeholder: "On A Per Day Basis" %>
    </div>      
    <div class="form-group">
        <%= form.label :location %>
        <%= form.text_field :location, value: listing.location, class: "form-control", id: "exampleFormControlInput1", placeholder: "Your Suburb & State" %>
    </div>         
    <div class="form-group">
        <%= form.label :postcode %>
        <%= form.number_field :postcode, value: listing.postcode, class: "form-control", id: "exampleFormControlInput1", placeholder: "Postcode" %>
    </div>  
    <div class="form-group">
        <%= form.label :availability %>
        <%= form.date_field :availability, value: listing.availability, class: "form-control", id: "exampleFormControlInput1" %>
    </div> 
    <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, value: listing.description, class: "form-control", id: "exampleFormControlInput1", placeholder: "Any Extra Details That You'd Like To Include" %>
    </div>  
    <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :picture, accept:"image/png,image/gif,image/jpeg,image/jpg", class: "form-control-file", id: "exampleFormControlInput1" %>
    </div>          
    <div class="form-group">
        <%= form.submit %>
    </div>
        <% end %>
</main>