<h1> NSW Horse Float For Lease - All Listings </h1>
<% #will want to group these together in a CTA top middle %>
<h2> <%= link_to "Create A New Listing", new_listing_path %> </h2>

<% for listing in @listings %>
<div>
    <%= link_to listing_path(listing.id) do %>
    <%= image_tag listing.picture if listing.picture.attached? %>
 <% end %> <br>
    <%= link_to "#{listing.title}", listing_path(listing.id) %> <br>
    <%= link_to "#{number_to_currency(listing.price)}", listing_path(listing.id) %> <br>
    <%= link_to "#{listing.location}", listing_path(listing.id) %> <br>

</div>
<% end %>
