<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <% if user_signed_in? %>
                <%= link_to "My Listings", root_path(user_id: current_user.id), :class => "nav-link" %>
            <% end %>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
            <% if user_signed_in? %>
        <li class="nav-item active">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "nav-link"  %>
        </li>
            <% else %>
        <li class="nav-item active">
            <%= link_to "Log In", new_user_session_path, :class => "nav-link"  %>
            <% end %>
        </li>
            <% if user_signed_in? %>
        <li class="nav-item">
            <a class="nav-link disabled">Currently Logged In As <u><%= current_user.email %></u> <span class="sr-only">(current)</span></a>
        </li>
            <% else %>
        <li class="nav-item">
            <a class="nav-link disabled">Currently Not Logged In <span class="sr-only">(current)</span></a> 
            <% end %>
        </li>
    </ul>
</nav>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1> Air Float. </h1>
      <p class="lead text-muted">A community for horse enthusiasts to help each other out with horse transportation.</p>
      <% if user_signed_in? %>
        <p> <%= link_to "Create A New Listing", new_listing_path, :class => "btn btn-primary my-2" %> </p>  
      <% else %>
        <p> <%= link_to "Sign Up or Log In", new_user_session_path, :class => "btn btn-primary my-2" %> </p>
      <% end %>
    </div>
  </section>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
      <% for listing in @listings %>
        <div class="col-md-4">
        <%= link_to listing_path(listing.id) do %>
          <div class="card mb-4 shadow-sm">
          
            <%= image_tag listing.picture if listing.picture.attached? %>
            
            <div class="card-body">
            
              <p class="card-text">
              <%= listing.title %> <br> <%= number_to_currency(listing.price) %> <br> <%= listing.location %> </p>
               
              
            </div>
            
                </div>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>
 
</main>
