<h1> Floats Available For Rent </h1>

<% link_to "New Listing", new_listing_path %>

<ul>
    <% for listing in @listings %>
<li>
    <%= listing.title %>
    <%= listing.description %>
    <%= listing.size %>
    <%= number_to_currency(listing.price) %>
    <%= listing.location %>
    <%= listing.description %>
    <%= listing.postcode %>
    <%= listing.availability %>
</li>
<% end %>
</ul>