<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <% if user_signed_in? %>
                <%= link_to "My Listings", root_path(user_id: current_user.id), :class => "nav-link" %>
            <% end %>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
            <% if user_signed_in? %>
        <li class="nav-item active">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "nav-link"  %>
        </li>
            <% else %>
        <li class="nav-item active">
            <%= link_to "Log In", new_user_session_path, :class => "nav-link"  %>
            <% end %>
        </li>
            <% if user_signed_in? %>
        <li class="nav-item">
            <a class="nav-link disabled">Currently Logged In As <u><%= current_user.email %></u> <span class="sr-only">(current)</span></a>
        </li>
            <% else %>
        <li class="nav-item">
            <a class="nav-link disabled">Currently Not Logged In <span class="sr-only">(current)</span></a> 
            <% end %>
        </li>
    </ul>
</nav>
<main role="main">

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag @listing.picture if @listing.picture.attached? %>
            <div class="card-body">
              <p class="card-text">
              <%= @listing.title %> <br> <%= number_to_currency(@listing.price) %> <br> <%= @listing.location %> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                </div>
              </div>
            </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
 
</main>













    <h1> <%= @listing.title %> </h1>
    <% if @listing.picture.attached? %>
    <%= image_tag @listing.picture, style: "width: 200px" %>
    <% end %>
    </br>
    <%= number_to_currency(@listing.price) %>
    </br>
    Seller's email: <%= @listing.user.email %>

    </br>

    <% if current_user.id == @listing.user.id %>
        <%= link_to "edit", edit_listing_path(@listing.id) %>

        <%= form_with model: @listing, local: true, method: :delete do |form| %>
            <%= submit_tag "delete" %>
        <% end %>
    <% end %>

    <button data-stripe="payment">
        Proceed To Payment
    </button>

    <p>
        <%= @listing.description %>
    </p>

</div>


<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>