    <h1> <%= @listing.title %> </h1>
    <% if @listing.picture.attached? %>
    <%= image_tag @listing.picture, style: "width: 200px" %>
    <% end %>
    </br>
    <%= number_to_currency(@listing.price) %>
    </br>
    Seller's email: <%= @listing.user.email %>

    </br>

    <% if current_user.id == @listing.user.id %>
        <%= link_to "edit", edit_listing_path(@listing.id) %>

        <%= form_with model: @listing, local: true, method: :delete do |form| %>
            <%= submit_tag "delete" %>
        <% end %>
    <% end %>

    <button data-stripe="payment">
        Proceed To Payment
    </button>

    <p>
        <%= @listing.description %>
    </p>

</div>


<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>